@model IEnumerable<Grupa5Tim3.Models.Umjetnina>

@{
    ViewData["Title"] = "Dostupne umjetnine";
}


@if (User.IsInRole("Administrator"))
{
    <div class="text-end mb-3">
        <a asp-action="Create" class="btn btn-primary">Add post</a>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                @if (!string.IsNullOrEmpty(item.SlikaPath))
                {
                    <img src="@item.SlikaPath" class="card-img-top" style="height: 300px; object-fit: cover;" />
                }
                else
                {
                    <img src="~/images/placeholder.jpg" class="card-img-top" style="height: 300px; object-fit: cover;" />
                }

                <div class="card-body text-center">
                    <h5 class="card-title">"@item.naziv"</h5>
                    <p class="card-text">@item.autor</p>
                    <p class="card-text"><strong>Highest bid:</strong> @item.pocetnaCijena</p>
                    <a asp-controller="Aukcija" asp-action="Bid" asp-route-id="@item.umjetinaID" class="btn btn-light border">BID</a>


                </div>

                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@item.umjetinaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.umjetinaID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.umjetinaID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .card {
        border-radius: 10px;
        overflow: hidden;
    }

    .card-title {
        font-size: 18px;
        font-weight: bold;
    }

    .card-text {
        margin-bottom: 10px;
    }

    .btn {
        background-color: #d6c4f7;
        color: black;
    }

        .btn:hover {
            background-color: #bda8eb;
        }
</style>
